body{
    background-color: #1A2A89;
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
}

.content-row{
    width: 100%;
    margin-bottom: 20px;
}

.card{
    margin-top: 10px;
}

.card-img-top{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.footer-row{
    display: flex;
}

.column{
    flex: 50%;
}

.social-link {
    color: grey;
    font-size: 2em;
   
}

.social-link:hover{
    color: white;
}

.grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.phone{
    color:grey;
    font-size: 20px;
}
